html, body {width:100%;padding:0;margin:0;font-family:Helvetica, Arial, sans-serif;font-size:14px;background-color:#fafafa;}
h1, h2, h3, h4, div {padding:0;margin:0;}
a {color:#333;cursor:pointer;}
a:hover {color:#111;}
.shadow {box-shadow:3px 3px 15px #222;-moz-box-shadow:3px 3px 15px #222;-webkit-box-shadow:3px 3px 15px #222;}
.styled_text {color:#222;font-family: "Georgia";font-style:italic;text-shadow:#ddd -1px -1px 1px;letter-spacing:2px;word-spacing:5px;}
.radius {-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;}
.radius_tr {-moz-border-radius-topright:5px; -webkit-border-top-right-radius:5px; border-top-right-radius: 5px;}
.radius_tl {-moz-border-radius-topleft:5px; -webkit-border-top-left-radius:5px; border-top-left-radius: 5px;}
.radius_br {-moz-border-radius-bottomright:5px; -webkit-border-bottom-right-radius:5px; border-bottom-right-radius: 5px;}
.radius_bl {-moz-border-radius-bottomleft:5px; -webkit-border-bottom-left-radius:5px; border-bottom-left-radius: 5px;}
#results li strong {margin-right:10px;}
#results li.failed em{color:red;}
#results li.passed em{color:green;}


#diabox {z-index:1000;position:fixed;background-color:black;border:5px solid black;padding-top:30px;}
#diabox.loading {background:black url(img/loading_small.gif) center center no-repeat;}
#diabox.draggable {cursor:move;}
#diabox_content {position:relative;background-color:white;cursor:default;}
#diabox_overlay {position:fixed;width:100%;height:100%;top:0;left:0;z-index:999;background:transparent url(img/overlay.png) top left repeat;}
#diabox_footer {background-color:#eaeaea;text-align:center;position:absolute;left:10px;right:10px;padding:0 10px;margin:0 -10px;top:0px;height:20px;line-height:20px;border-top:1px solid #ddd;}
#diabox_footer h2 {font-size:14px;display:inline;}
#diabox_footer a {text-decoration:none;text-transform:uppercase;}
#diabox_test {padding:0;margin:0;}
#diabox .diabox_control {position:absolute;bottom:5px;width:50px;height:38px;text-indent:-9999px;visibility:hidden;background:transparent url(img/controls.png) top left no-repeat;}
#diabox:hover .diabox_control {visibility:visible;}
#diabox #diabox_close {right:5px;background-position:-50px 0;}
#diabox #diabox_play {display:none;right:5px;background:transparent url(img/slideshow.png) top left no-repeat;width:52px;}
#diabox #diabox_play:hover {background-position:0 -38px;}
#diabox #diabox_play:active {background-position:0 -76px;}
#diabox.diabox_gallery #diabox_play {display:block;}
#diabox.diabox_slideshow #diabox_play {background-position:-52px 0;}
#diabox.diabox_slideshow #diabox_play:hover {background-position:-52px -38px;}
#diabox.diabox_slideshow #diabox_play:active {background-position:-52px -76px;}
#diabox.diabox_gallery #diabox_close {left:50%;right:auto;margin-left:-25px;background-position:-50px 0;}
#diabox #diabox_prev {left:50%;margin-left:-75px;}
#diabox #diabox_next {left:50%;margin-left:25px;background-position:-99px 0;}
#diabox #diabox_close:hover {background-position:-50px -38px;}
#diabox #diabox_prev:hover {background-position:0 -38px;}
#diabox #diabox_next:hover {background-position:-99px -38px;}
#diabox #diabox_close:active {background-position:-50px -76px;}
#diabox #diabox_prev:active {background-position:0px -76px;}
#diabox #diabox_next:active {background-position:-99px -76px;}
#diabox #diabox_close.diabox_disabled, #diabox #diabox_close.diabox_disabled:hover, #diabox #diabox_close.diabox_disabled:active {background-position:-50px -114px;}
#diabox #diabox_prev.diabox_disabled, #diabox #diabox_prev.diabox_disabled:hover, #diabox #diabox_prev.diabox_disabled:active {background-position:0 -114px;}
#diabox #diabox_next.diabox_disabled, #diabox #diabox_next.diabox_disabled:hover, #diabox #diabox_next.diabox_disabled:active {background-position:-99px -114px;}
#diabox #diabox_title {position:absolute;left:5px;top:5px;color:#fafafa;}
#diabox #diabox_title em {margin-left:5px;color:#555;font-size:.75em;line-height:1em;}



#content {width:700px;margin:0 auto;background-color:white;border:1px solid #ccc;margin-top:50px;padding:20px;}
.content_types li {width:45%;margin-right:5%;padding:2px 0;margin:0;float:left;}
h3 {clear:left;padding-top:20px;}

.examples {padding:0;margin:0;}
.examples li {list-style:none;}
.examples li a {padding:10px 20px;margin:10px;list-style:none;background-color:#f0f0f0;display:block;text-decoration:none;border:1px solid #ddd;}
.examples li a:hover {background-color:#fafafa;}

.inline_content p {margin:0;padding:20px;}
h1 em {font-size:.75em;color:#999;}